@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/*for Domains*/
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in; /* Matches the JavaScript timeout duration */
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out; /* Matches the JavaScript timeout duration */
}


/*for Framer Motion*/
.circle-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 50%;
}

.circle-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


